</div>

<div class="footer" id="contact">

 <a href="https://web.facebook.com/lordsforerunner/" target="_blank" class="social-icon facebook"><i
   class="fab fa-facebook-f"></i></a>

 <a href="https://www.instagram.com/lordsforerunner/" target="_blank" class="social-icon instagram"><i
   class="fab fa-instagram"></i></a>
 <a href="https://www.linkedin.com/in/lords-forerunner-3512021b8/" target="_blank" class="social-icon linkedin"><i
   class="fab fa-linkedin-in"></i></a>
 <a href="https://youtube.com/channel/UC0aUdlVuR6wQrcbwlzFq1Dw" target="_blank" class="social-icon youtube"><i
   class="fab fa-youtube"></i></a>

  
  <a href="mailto:lords@lordsforerunner.net" target="_blank"><i class="fas fa-envelope-open"></i></a> 
  

 

 <p class="copyright">Copyright &copy; 2020 <b>Lordsforerunner.</b> All Rights Reserved.</p>

</div>

<a href="#top" class="fixed-link">Back to the Top</a>

<script src="https://kit.fontawesome.com/0b3907367c.js" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  

</body>

</html>