<%- include("partials/header"); -%>


<div class="templateBody-container">
 <div class="templateBody-topBreadcrumb">
  <div class="back-to-homepage">
   <a href="/" class="home-link"><i class="fa fa-home"></i>Back to Homepage</a>
   <span class="pageName-span">About Site</span>
  </div>
 </div>
 <div class="templateBody-sideBreadcrumb">
  <h2 class="parentPage-link">
   <a href="/">Home</a>
  </h2>
  <ul class="descendantsPage-links">
   <li class="currentPage"><a href="#">About Site</a></li>
   <li><a href="/terms-of-use">Terms of Service</a></li>
  </ul>
 </div>
 <div class="templateBody-main">
  <p>
   In many parts of the world, achieving and maintaining optimal health and wellbeing which invariably translates to
   healthy and hearty individuals, families and ultimately society appear to have eluded us which explains the general
   deject of various cross sections of our societies. In my candid opinion this does not have to be or remain so at
   least for the individual, if that is his/her preferred option.
   Having ruminated over current realities of our dispensation, we concluded that the most feasible path of making
   healthy hearty individuals, families and ultimately the society, is starting from the bottom, the unit of the society
   - <b>the individual</b>. A good starting platform we considered for achieving this will be the electronic space(the
   internet).

   This birthed the concept this website. It is meant to act as a stop gap between the patient, who may be unempowered
   and possible health solutions. It is not meant to replace a comprehensive medical assessment of patient's
   complaint(s) and institution of appropriate line of management.
  </p>
  <p>What we are trying to do here is not to take the usuall theoretical approach to having healthy and hearty people,
   rather we wish to adopt realistic, practical and workable options to arrive at the same destination(being healthy and
   hearty) which is the desire of the majority if not everybody.</p>
  <p>To start with, most diseases are not curable. Available ortodox medical facilities around the world are not
   addressing the health needs of the majority. This motivated us to making our own contribution at addressing the gap.
  </p>

  <p>Health according to World Health Organization is a state of complete physical, mental and social wellbeing and not
   merely the absence of disease or infirmity </p>
  <p>In reality, the spectrum of health is a long one consisting at one end, of people who show no obvious sign of
   illness or whose medical condition has not been detected and at the other end of the spectrum, by people with
   terminal illnesses</p>
  <p>Wherever you fall within this spectrum, this website can be useful to you. Even for the very ill, prevention still
   has a role, either by slowing down or reversing the illness.</p>
 </div><br><br>
 <p>Partners:
 <ul>
  <li>Cornell Health Services, 14 Fred Anyiam street off Adelabu road, Surulere Lagos, Nigeria</li>
  <li>University of Lagos, Nigeria</li>
 </ul>
 </p>
</div>

<%- include("partials/footer"); -%>