<%- include("partials/header"); -%>


  <div class="templateBody-container">
    <div class="templateBody-topBreadcrumb">
      <div class="back-to-homepage">
        <a href="/" class="home-link"><i class="fa fa-home"></i>Back to Homepage</a>
        <span class="pageName-span">Bone Treatment Path- Possibilities</span>
      </div>
    </div>
    <br><br>
    <div class="templateBody-main">

      <h1>The following are possibilities</h1>

      <% Results.forEach(function(Result){%>

        <h3>
          <%= Result %>
        </h3>

        <% });%>


          <h3 class="fireBrick">
            <%= PossibilitiesAlt %>
          </h3>
          <br><br><br>
          <form action="/bone_diagnosis" method="post" id="medicalForm">

            <button type="submit" name="button" class="next-btn">Next</button>
          </form>

    </div>

  </div>




  <%- include("partials/footer"); -%>