<!doctype html>
<html lang="en">

<head>

 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
 <link rel="stylesheet" href="/css/styles.css">

 <title>LordsMedical2</title>
</head>

<body>
 <div class="mainContainer">

  <div class="preHeader">

  <a href="/"><img src="/images/logo.png" alt="Lordsforerunner"></a>


   <div class="right-head">
    <div class="navlink-wrapper">
     <div><a href="/about">About Site</a></div>
     <div><a href="/terms-of-use">Terms of Use</a>
     </div>
     <div><a href="#contact">Contact</a>
     </div>
    </div>
   </div>

  </div>

  <div class="templateBody-container">
   <div class="templateBody-topBreadcrumb">
    <div class="back-to-homepage">
     <a href="/" class="home-link"><i class="fa fa-home"></i>Back to Homepage</a>
     <span class="pageName-span">Bone Health -Preventive Path</span>
    </div>
   </div>
   <div class="templateBody-sideBreadcrumb">
    <h2 class="parentPage-link">
     <a href="#">Bone Health</a>
    </h2>
    <ul class="descendantsPage-links">
     <li class="currentPage"><a href="#">Preventive Bone Health</a>
     </li>
     <li><a href="/intropreventive">Introduction</a></li>
    </ul>
   </div>
   <div class="templateBody-main">
   
    
   
    <h4>General preventive measures against Diseases of the Bone</h4>
    <p>The red arrows(<span class="redArrow">↓</span><span class="redArrow">←</span>) are the facilitating points for
     diseases whereas the blue arrows(<span class="blueArrow">↑</span><span class="blueArrow">←</span>) are the
     ameliorating or mitigating points</p>
   
    <div class="ParentDiv">
     <div>
      <div>
       <p>Causes</p>
       <ul>
        <li class="red">Genetic</li>
   
        <li class="red">Infections</li>
        <li class="red">Injuries</li>
        <li class="red">Other medical conditions in the body</li>
        <li class="red">Longterm repetitive motions or pressure over joints </li>
        <li class="red">Wear and tear</li>
   
        <span class="redArrow">↓</span>
        <span class="blueArrow">↑</span>
   
        <li>Counter factors <ul>
          <li class="blue">See <a href="#">Children Preventive Path</a></li>
   
          <li class="blue">Lead a health conscious lifestyle</li>
   
          <li class="blue">Comply with recommended immunization programs in authorized medical facilities in your
           locality</li>
          <li class="blue">Make 'safety' your watch word as a way of life</li>
          <li class="blue">Report illnesses promptly to authorized medical facilities with which you cooperate to
           manage such conditions</li>
          <li class="blue">Delibrately avoid things your body react to</li>
   
   
         </ul>
      </div>
   
   
     </div>
     <div>
      <div>
       <p><span class="redArrow">←</span> Risk Factors</p>
       <ul>
        <li class="red">Bad posture especially when lifting heavy objects</li>
        <li class="red">Occupation or need requiring repetitive body movement or pressure over particular joint(s)</li>
        <li class="red">Aging</li>
        <li class="red">Overweight or obesity</li>
        <li class="red">Smoking</li>
   
        <li class="red">Alcohol consumption</li>
        <li class="red">Lack of physical activity</li>
        <li class="red">Poor/unhealthy nutrition</li>
        <li class="red">Direct/continuous exposure to harmful chemicals and radiation</li>
   
        <li class="red">Harmful traditional beliefs and practices</li>
        <li class="red">Low socioeconomic status</li>
   
        <li class="red">Poor immunization status</li>
        <li class="red">Other medical conditions in the body(e.g diabetes mellitus, rheumatic fever)</li>
        <li class="red">Drug reactions</li>
        <li class="red">Emotional and physical stress</li>
        <li class="red">Unfavourable environmental temperatures (extremes) </li>
        <li class="red">Pregnancy</li>
       </ul>
      </div>
     </div>
     <div>
      <div>
       <p><span class="blueArrow">←</span> Lifestyle measures</p>
       <ul>
        <li class="blue">Regular (yearly) routine general medical screening</li>
        <li class="blue">Learn and adopt healthy postures as a lifestyle in your daily rountine especially when lifting
         heavy objects</li>
   
        <li class="blue">Report illness early to authorized medical facilities</li>
   
        <li class="blue">Avoid substantial radiation as much as possible</li>
        <li class="blue">Avoid smoking, smoking environment and alcohol</li>
        <li class="blue">Avoid chemicals/toxins either by inhalation or through the mouth or skin as much as possible</li>
        <li class="blue">Adequately protect yourself when/if engaged in combat sports</li>
        <li class="blue">At least 30minutes of exercise(like walking) per day</li>
        <li class="blue">Delibrate efforts at eating locally available nutritious and healthy foods(including calcium and
         vitamin D rich foods like fish, milk and eggs)</li>
        <li class="blue">Drink water liberally <b>daily</b> (at least 3litres for adults and 0.05Litre per Kg for children)
        </li>
   
   
        <li class="blue">Ensure adequate(at least six hours) refrehsing sleep daily</li>
        <li class="blue">Avoid physical and emotional stress</li>
        <li class="blue">Discuss your traditional beliefs and practices regarding your health with your doctor in order to
         avoid
         harmful practices</li>
   
   
       </ul>
      </div>
     </div>
   
     <div>
   
      <span class="redArrow">↓</span>
      <div>Human Disease Processes</div>
   
      <span class="blueArrow">↑</span>
      <ul>
       <li class="blue">Early hospital visit when ill</li>
       <li class="blue">Avoid self medication and visiting quacks</li>
   
      </ul>
     </div>
   
   
   
     <div>
      <div>
       <p><span class="redArrow">←</span> Risk Factors</p>
       <ul>
        <li class="red">Poorly nourished persons</li>
        <li class="red">Self medication</li>
        <li class="red">Emotional Stress</li>
   
       </ul>
      </div>
     </div>
     <div>
      <div>
       <p><span class="blueArrow">←</span> Lifestyle measures</p>
       <ul>
        <li class="blue">Healthy and nutritious diet (rich in vitamin D and calcium)</li>
        <li class="blue">Avoid self medication</li>
        <li class="blue">Report your emotional stress to your doctor, meanwhile visit <a
          href="#">lordsforerunner.org</a></li>
       </ul>
      </div>
     </div>
     <div><span class="redArrow">↓</span>
      <div>Disability</div>
      <span class="blueArrow">↑</span>
      <ul>
       <li class="blue">Early initiation of rehabilitation program</li>
   
   
      </ul>
     </div>
     <div>
      <div>
       <p><span class="redArrow">←</span> Risk Factors</p>
       <ul>
        <li class="red">Late reporting of illness or bone problem to the hospital</li>
        <li class="red">Self medication</li>
        <li class="red">Visiting quacks when ill</li>
       </ul>
      </div>
     </div>
     <div>
      <div>
       <p><span class="blueArrow">←</span> Lifestyle measures</p>
       <ul>
        <li class="blue">Early hospital visit when ill</li>
        <li class="blue">Avoid self medication</li>
       </ul>
      </div>
     </div>
     <div><span class="redArrow">↓</span>
      <div>Death</div>
     </div>
     <div>
      <div>
       <p><span class="redArrow">←</span> Risk Factors</p>
       <ul>
        <li class="red">Unhealthy lifestyle</li>
       </ul>
      </div>
     </div>
     <div>
      <div>
       <p><span class="blueArrow">←</span> Lifestyle measures</p>
       <ul>
        <li class="blue">Healthy lifestyle</li>
       </ul>
      </div>
     </div>
    </div>
   
   
   </div>


   </div>
  </div>








  <div class="footer" id="contact">

   <a href="https://web.facebook.com/lordsforerunner/" target="_blank" class="social-icon facebook"><i
     class="fab fa-facebook-f"></i></a>
   
   <a href="https://www.instagram.com/lordsforerunner/" target="_blank" class="social-icon instagram"><i
     class="fab fa-instagram"></i></a>
   <a href="https://www.linkedin.com/in/lords-forerunner-3512021b8/" target="_blank" class="social-icon linkedin"><i
     class="fab fa-linkedin-in"></i></a>
   <a href="https://youtube.com/channel/UC0aUdlVuR6wQrcbwlzFq1Dw" target="_blank" class="social-icon youtube"><i
     class="fab fa-youtube"></i></a>

  <a href="mailto:lords@lordsforerunner.net" target="_blank"><i class="fas fa-envelope-open"></i></a>

   <p class="copyright">Copyright &copy; 2020 <b>Lordsforerunner.</b> All Rights Reserved.</p>

  </div>
  <a href="#top" class="fixed-link">Back to the Top</a>
  

 </div>
<script src="https://kit.fontawesome.com/0b3907367c.js" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>

</html>