<%- include("partials/header"); -%>

<div class="row">
 <div class="contentItem-wrapper  col-sm-12 ">

  <div class="preventivePath">
    <form action="/intropreventive" method="POST" id="medicalForm">
    
    <button type="submit" name="button" value="/bone_preventive">Preventive Path</button> 
    </form> 
  </div>

  
  <div class="itemImage-background" style="background-image: url(/images/boneHealth1.jpg);"></div>
  <div class="med-branch">
   <div class="branchName">Bone Health</div>
   <div class="synonnym">
    <h3>Orthopaedics</h3>
   </div>
  </div>
  <div class="treatmentPath"><a href="/bone_biodata">Treatment Path</a></div>
 </div>

 



</div>



<%- include("partials/footer"); -%>