<%- include("partials/header"); -%>

<div class="templateBody-container">

 <div class="templateBody-topBreadcrumb">
  <div class="back-to-homepage">
   <a href="/" class="home-link"><i class="fa fa-home"></i>Back to Homepage</a>
   <span class="pageName-span">Introduction -Preventive Path</span>
  </div>
 </div>
<div class="templateBody-sideBreadcrumb">
  <h2 class="parentPage-link">
    <a href="#">Preventive Health</a>
  </h2>
  <ul class="descendantsPage-links">
    <li class="currentPage"><a href="#">Introduction</a>
    </li>
    <li><a href="/bone_preventive">Preventive Bone Health</a></li>
  </ul>
</div>

 <div class="templateBody-main">
  <p>
   As a public health physician and a general clinician of at least two decades, I can tell you authoritatively
   that
   <b>most diseases have no cure</b>, yet they convey at least some degree of perpetual discomfort to their hosts.
  </p>
  <p>This naturally makes <b>prevention of these illnesses</b> the best option to embrace <b>from cradle to
    grave</b> in
   our effort at being <b>hearty and healthy</b> as much as possible.</p>
  <p>Prevention does not necessarily mean there will be no illness though there is provision for that possibility
   under
   the umbrella tag <b>'Prevention',</b> it also involves mitigating(countering) the negative impact of these
   maladies
   on their host in the event of their encroachment</p>
  <p>For you to successfully prevent illnesses you must be strategic.</p>
  <p>If you understand the general architecture or operations of diseases, caging them becomes easier.</p><br>
  
  <div style="display: inline-block;">Cause</div> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;← &nbsp;&nbsp;<span>Risk
   Factors()</span><br>
  ↓<br>
  <div style="display: inline-block;">Human Disease Process</div> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;←
  &nbsp;&nbsp;<span>Risk Factor(s)</span><br>
  ↓<br>
  <div style="display: inline-block;">Disability</div> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;← &nbsp;&nbsp;<span>Risk
   Factor(s)</span><br>
  ↓<br>
  <div style="display: inline-block;">Death</div> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;← &nbsp;&nbsp;<span>Risk
   Factor(s)</span><br><br><br>
  
  <p>The <b>cause</b> is at the foundation of the disease entity, but it is not alone, it has supporters and
   facilitators
   called <b>risk factors</b> that enconrage the disease processes or operations.</p>
  <p>It is instructive to note that in many cases, the cause is invisible, it is not known(idiopathic).</p>
  <p>In such cases, at least certain risk factors may be suspected</p>
  <p>So if we can target the arrows(← ↓) in the illustration above we can restrain diseases at different levels</p>
  <b>Risk factors</b> and <b>Causes</b>
  <p><b>Risk factors</b> are factors that increase the likelihood of a disease developing whereas <b>Causes</b> have
   direct effect, meaning that when it is present the disease is most certain to be present.</p>

 </div>


</div>

<form action="<%= Pageid %>" method="post" id="medicalForm">

  <button type="submit" name="button" class="next-btn">Next</button>
</form>

<%- include("partials/footer"); -%>