<%- include("partials/header"); -%>



<div class="templateBody-container">
 <div class="templateBody-topBreadcrumb">
  <div class="back-to-homepage">
   <a href="/" class="home-link"><i class="fa fa-home"></i>Back to Homepage</a>
   <span class="pageName-span">Terms of Use</span>
  </div>
 </div>
 <div class="templateBody-sideBreadcrumb">
  <h2 class="parentPage-link">
   <a href="/">Home</a>
  </h2>
  <ul class="descendantsPage-links">
   <li class="currentPage"><a href="#">Terms of Use</a></li>
   <li><a href="/about">About Site</a></li>
  </ul>
 </div>
 <div class="templateBody-main">


  <p>

   Terminologies;
  <p><b>Lordsforerunner</b> refers to a parent organization which birthed lordsforerunner.net and
   lordsforerunner.org
   for now.</p>

  <p><b>lordsforerunner.net</b> is the medical website arm of Lordsforerunner Group </p>

  <p><b>You</b> or <b>Your</b> refers to the user of service(s) provided by lordsforerunner.net</p>

  <p><b>We</b> or <b>Us</b> or <b>Our</b> refers Lordsforerunner or lordsforerunner.net. </p>
  <p><b>Third Party</b> refers to any other person(s), group of persons or body(ies) aside those mentioned above
  </p>
  <p><b>Lordsforerunner Brand(or Brands)</b> refers to all products and services that are unique to or
   initiated by Lordsforerunner and/or its subsidiaries</p>
  <p><b>Website</b> and <b>Site</b> are used interchangeably</p>



  lordsforerunner.net, a subsidiary of Lordsforerunner is a concept borne out of necessity to fill
  potentially unavoidable void which a patient or a patient's guardian may helplessly face in their quest at
  finding solution(s) to their health challenges within our societies.
  <b>It is important to emphasize lordsforerunner.net is not meant to substitute or replace a proper one on one
   professional care in the face of any medical challenge and this we advise patients to seek in such
   situation.</b> <br>
  The following are our terms of service use; <br>
  <ul>
   <li>Our website will undergo continuous upgrade and update as need arises.</li>
   <li>Your decision to use our website implies your acknowledgement of and agreement with our terms of
    service.</li>
   <li>Your decision to use our website also implies You have read and are abreast of our current terms of
    service at the time of your usage.</li>
   <li>Only adults (18years and over) can legally independently use lordsforerunner.net.</li>
   <li>Individuals that are less than 18years may only use lordsforerunner.net under the supervision of an
    adult(over 18years).</li>
   <li>We do not guarantee the infallability of our service(s) at any level and therefore provide no wanranty
    for it.</li>

   <li>lordsforerunner.net does not guarantee the infallability of the service(s) of any website whose link is
    found on our website.</li>
   <li>Lordsforerunner totally absolves itself and all its subsidiaries from any liability that may arise
    from your use of
    our site.</li>
   <li>Lordsforerunner Group totally absolves itself and all its subsidiaries from any third party liability
    that may arise from your use of
    our site.</li>
   <li>You agree that you will bear the liability of any third party claim(s) that arise(s) from your breach of
    our terms of service or your use of our site</li>
   <li>You are not allowed to portray our brand(s) except in reference to us.</li>
   <li>Any information you send to us is treated discreetly and used solely for the purpose of improving our
    services to the public.</li>
  </ul>

  </p>
 </div>
</div>

 <%- include("partials/footer"); -%>